body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

header > .header-left > img {
    border: 5px solid rgb(7, 182, 7);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

header > .header-left > h2 {
    margin: 0;
    text-align: left;
}

.button {
    margin-right: 130px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.button > button {
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(7, 182, 7);
    border: none;
    border-radius: 4px;
}

.button > button:hover {
    background-color: green;
}

#home {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.left, .right {
    width: 48%;
    margin-bottom: 20px;
}

.veiculos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_veiculo {
    display: flex;
    align-items: flex-start;
    width: 400px;
    background-color: #111;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
}

.imagem img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.info {
    padding: 0px;
    flex-direction: column;
    font-size: 14px;
    display: flex;
    color: white;
    text-align: left;
}

.container_veiculo h2 {
    color: white;
    margin: 0;
}

.container_veiculo span {
    color: #febe01;
    font-weight: bold;
}

.container_veiculo button {
    border: none;
    background-color: #febe01;
    color: #332200;
    font-weight: 500;
    border-radius: 4px;
    font-size: 0.9em;
    padding: 6px 15px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-start;
}

.container_veiculo button:hover {
    background-color: #d4a800;
}

p {
    padding: 0px;
    margin-bottom: 5px;
}
